<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <p>Hey <%= accessToken.name %>,</p>

    <br>
    Please click on the link below to activate your Kelvin Electric account. 
    <br>
    Ignore if this was not requested by you.
    <br><br>
    <a href="http://localhost:8000/api/v1/user/verify-email/<%= accessToken.accessToken %>">
        Click here to activate your account.
    </a>

    <br><br>
    
    Regards,
    Kelvin Electric   
</body>
</html>