<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test ride confirmation</title>
</head>
<body>
    <p>Hey <%= testride.user.name %>,</p>

    Your appointment for an exhilarating test drive of our newest Kelvin 150x scooter is confirmed.
    You'll find the details of your booking below:
    <br>
    <br>
    Dealership location: <b><%= testride.dealershipName %></b>
    <br>
    Date: <b><%= testride.date %></b>
    <br>
    Time: <b><%= testride.time IST %></b>
    <br>
    <br>
    Change of plans? Cancel your booking by clicking the link below:
    <br>
    <a href="/">Cancel your test ride booking</a>
    <br>
    <br>
    Regards,<br>
    Kelvin Electric  
</body>
</html>