<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Cancelled</title>
  </head>
  <body>
    <p>Hey <%= user.name %>,</p>

    Your preorder of Kelvin Electric 250x was cancelled successfully. The
    payment of &#8377; 2500 recieved shall be credited back to your account in
    3-5 business days.

    <br />

    <br />
    Thank you for giving us the opportunity. Hope to serve you better next time!
    <br /><br />

    Regards,<br />
    Kelvin Electric
  </body>
</html>
